jupyterlab
jupytext
pandas
numpy
matplotlib
xgboost
scikit-learn
tqdm
# imodels # Use fork
# dtreeviz # Use fork, and must follow the package README install instructions!
wand
svglib
skompiler
sqlalchemy
astor
